*{
  margin:0;
  padding:0;
  font-family: sans-serif;
}

html{
  min-height:100%;
  background:#f5f5f5;
  background-image:url(furley_bg.png);
  color:rgba(255,255,255,0.9);
}
header,
article,
footer{
}
article{
  padding:0 24px;
}

header{
  background-color:#333;
  background-color:rgba(0,0,0,0);
  padding:24px;
  color: rgba(0,0,0,0.8);
  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}

h1{
  font-size:104px;
  line-height:96px;
  margin-bottom:16px;
  letter-spacing:-4px;
  font-family:'Lato', sans-serif;
  font-weight:300;
  color:rgb(81, 133, 173);
}

h2{
  font-size:48px;
  margin-bottom:16px;
  font-family:'Lato', sans-serif;
  font-weight:300;
}
header p{
  font-size:24px;
  max-width:728px;
  font-family:'Lato', sans-serif;
  font-weight:300;
}
section{
  background-color:white;
  border-radius:2px;
  z-index:1;
  margin-bottom:24px;
  padding:24px;
  color:#333;
  max-width:824px;
  box-shadow:4px 4px 4px rgba(0,0,0,0.2);
  -webkit-transition:color 1s ease-out;
  -moz-transition:color 1s ease-out;
  -ms-transition:color 1s ease-out;
  transition:color 1s ease-out;
}
section h2{
  font-size: 24px;
  line-height:32px;
  margin-bottom:8px;
  color:rgb(41, 89, 121);
}

section p{
  font-size:16px;
  line-height:140%;
  font-family:'Lato', sans-serif;
  font-weight:300;
}

footer{
  position:fixed;
  bottom:0;
  right:0;
  padding:16px;
  padding-top:15px;
  font-size:16px;
  color:#333;
  display:inline-block;
  background:rgba(255,255,255,0.9);
  border-top:1px solid #ccc;
}
footer a{
  text-decoration: none;
  color:#333;
}
article aside{
  width:auto;
  text-align:right;
  padding: 16px;
  padding-top:15px;
  background: white;
  margin-right: 108px;
  margin-left:-24px;
  border-top:1px solid #ccc;
}
article aside p{
  display:inline-block;
  color:#333;
  margin-right:-16px;
  columns:1;
}
@media all and (max-width: 496px){
  article{
    padding:0;
  }
  section{
    margin-bottom:16px;
    border-radius:0;
  }
  article aside{
    margin-right:132px;
  }
}
@media all and (min-width: 496px){
  article p{
    -webkit-columns:2;
    -moz-columns:2;
    columns:2;
  }
  aside p{
    -webkit-columns:1;
    -moz-columns:1;
    columns:1;
  }
}
@media all and (max-width: 528px){
  header h1{
    font-size:80px;
    line-height:72px;
  }

  header h2{
    font-size:40px;
    line-height:48px;
  }
}
@media all and (min-width: 824px){