*{
  margin:0;
  padding:0;
  font-family: sans-serif;
}

html{
  min-height:100%;
  background:#efefef;
  color:white;
  box-shadow:inset 0 0 200px black;
  background-image:url(bg.png);
  background-attachment:fixed;
  background-size:32px 32px;
}

canvas{
  width:100%;
  height:100%;
  position:absolute;
  z-index:0;
  top:0;
  left:0;

}
header,
article,
footer{
  position:relative;
  z-index:5;
}
article{
  margin:0 auto 104px auto;
  line-height: 32px;
}

header{
  background-color:#333;
  background-color:rgba(0,0,0,0);
  padding:24px;
  margin-bottom: 24px;
  color: rgba(0,0,0,0.8);
  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}

h1{
  font-size:104px;
  line-height:80px;
  margin-bottom:16px;
  color: rgba(0,0,0,0.8);
  letter-spacing:-4px;
  font-family: 'Josefin Slab', serif;
}

h2{
  font-size:48px;
  margin-bottom:12px;
  font-family: 'Josefin Slab', serif;
}
header p{
  font-size:24px;
}
section{
  background-color:#333;
  background-color:rgba(0,0,0,0.5);
  border-radius:2px;
  z-index:1;
  margin-bottom:24px;
  padding:23px;
  max-width:800px;
  color:white;
  box-shadow:0 0 16px rgba(0,0,0,0.5);
  position: relative;
  left:0;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}

section.off{
  left:-816px;
}

section.off:hover{
  left:-794px;
}

section h2{
  background-color:#666;
  background-color:rgba(0,0,0,0);
  color:#ddd;
  font-size: 24px;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -moz-transform:rotate(90deg); 
  -webkit-transform:rotate(90deg); 
  -o-transform:rotate(90deg);
  position: absolute;
  right: 4px;
  top: 4px;
  text-align: center;
  display: block;
  width: 24px;
  cursor:pointer;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;

}

section h2:hover{
  color:white;
}

section p{
  font-size:16px;
  line-height:140%;
}

footer{
  position:fixed;
  bottom:0;
  right:0;
  padding:16px;
  font-size:16px;
  display:inline-block;
  background:rgba(0,0,0,0.4);
}
footer a{
  text-decoration: none;
  color:white;
}

